body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}

*, *:before, *:after{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro */
.intro {



  width: 100%;
  height: 100vh;
  background: url("picture.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

.intro__inner {
  padding: 50px 0;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}


.intro__title {
  font-size: 150px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

.intro__suptitle {
  margin-bottom: -20px;
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  color: #fff;
}

.intro__title:after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 50px auto 50px;

}

/*Header*/
.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.container__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

/*Navigation*/
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: color 0.2s linear;
  vertical-align: top;
  margin: 0 15px;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  opacity: 0;
  background-color:#fce38a;
  z-index: 1;
  top: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  transition: opacity 0.2s linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link:hover:after {
  opacity: 1;
}



/*Button*/
.intro__button {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 30px;
  text-align: center;
  transition: background  0.3s linear ,color 0.3s linear;
  color: #fff;
  border: 3px solid #fff;
}

.intro__button:hover {
  color: #333;
  background-color: #fff;
}


/*Slider*/
.Slider {
  display: flex;
  justify-content: space-between;
}

.slider_item {
  padding: 20px 0;
  border-top: 2px solid #fff;
  width: 24%;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;

}

.slider_item_element {
  font-size: 24px;
  font-weight: 700px;
}

/*About us*/

.section {
padding: 60px 0;
margin-top: 120px;
}

.section--gray {
  background-color: #f8f8f8;
}

.section--map {
  padding: 40px 0;
  background-image: url("Rectangle27.png");
  background-position: center center;
  background-repeat: no-repeat;
}


.section_header {
width: 100%;
max-width: 1000px;
text-align: center;
margin: 0 auto 50px;
}


.section_suptitle {
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  font-weight: 300;
  padding-bottom: 20px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  z-index: 45;
}

.section_title {
    font-size: 30px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    z-index: 46;

}

.section_title:after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: red;
  margin: 50px auto 50px;

}

.learn_text {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    margin-bottom: 40px;
    z-index: 48;
  }

/*Pics*/

.Pics_container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.about__item {
  width: 380px;
  position: relative;
  background-color: #95e1d3;
}

.at1 {
  background-color:#fafa4cbe;
}

.at2 {
  background-color:#333;
}

.about__item:hover .about__img img {
  opacity: .1;
}

.about__item:hover .about__img {
  transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__text {
  opacity: 1;
}

.about__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.about__img img {
  display: block;
  transition: opacity .1s linear;
}

.about__text {
  width: 100%;
  color:#fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  top: 50%;
  opacity: 0;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity .1s linear;
}

/*Facts*/

.Facts{
    background-color: rgb(149, 225, 211);
    margin-top: 110px;
    margin-bottom: 100px;
    width: 100%;
}

.stat {
  display: flex;
}

.stat_item {
  flex: 1 1 0;
  padding: 70px 25px;
  border-left:#b5eae0 1px solid;
  text-align: center;
  color: #fff;
}

.stat_item:last-child {
  border-right: #b5eae0 1px solid;
}

.stat_count {
  font-size: 72px;
  font-weight: 700px;
}

.stat_text {
  font-size: 14px;
  text-transform: uppercase;
}

/*Amazing services*/

.container_1 {
  width: 100%;
  max-width: 1255px;
  margin: 0 auto;
}

.amazing_services {
  padding-bottom: 80px;
}

.sect {
  display: flex;

  flex-wrap: wrap;
}

.sect_img {
  height:100%;
  float: left;
  margin-right: 30px;
}

.sect_item {
  width: 33.3%;
  padding: 60px 60px;
}

.sect_headers {
  color:black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

.sect_text {
  font-family: 'Roboto', sans-serif;
  color:#9f9f9f;
  font-size: 15px;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  margin: 20px 0;
  background-color: #e5e5e5;
}


/*Unique Design*/

.Feature_background {
  padding-bottom: 0;
  background-image: url('Rectangle_21.png');
  background-position: center center;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0px 50px;
}

.padding_div {
  padding: 100px 0;
}

.devices {
  position: relative;
  width: 100%;
  height: 550px;
  margin: 0 auto;
}

.devices__item {
  display: block;
}

.devices__item--ipad {
  position: absolute;
  margin: -20px 300px;
}

.devices__item--iphone {
  position: absolute;
  margin-left: 700px;
  bottom: -100px;
  z-index: 1;
}

/*Service*/
.Service {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;

}

.service_action {
  padding: 50px 0;
}

/*Service action*/

.service_action {
  display: flex;
}

.action__item {
  width: 50%;
}

/*Acardion*/

.acardion__item {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}

.acardion__item.active
.acardion__content {
  display: block;
}

.acardion__item.active
.acardion__header:after {
  transform: translateY(-50%)
  rotate(-45deg);
  margin-top: 5px;
}

.acardion__header {
  padding: 15px 20px 15px 65px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  cursor: pointer;
}

.acardion__header:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;

  position: absolute;
  top: 50%;
  right: 3%;
  z-index: 1;

  transform: translateY(-50%)
  rotate(135deg);
}

.acardion__icon {
  position: absolute;
  top: 50%;
  left: 30px;
  z-index: 1;

  transform: translateY(-50%);
}

.acardion__content {
  display: none;
  padding: 20px;
  color: #999;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

.acardion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
}

/*Reviwes*/

.reviewes {
  padding: 0 110px;
}

.reviewes__item {
  padding-left: 205px;
  position: relative;
}

.testimonial {
  margin-top: 100px;
}

.reviewes__photo {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 0;
}

.photo__reviewe {
  position: absolute;
  top: -40px;
  left: -70px;
  width: 250px;
  height: 250px;
  z-index: 0;
}


.reviewes_photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 150px;
  height: 150px;
  border: 4px solid #95e1d3;
}
.reviewes__text {
  margin-bottom: 15px;
  font-size: 24px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

.reviewes__author {
  font-family: 'Kaushan Script', cursive;
  font-style: italic;
  font-size: 24px;
  color: #333;

}

.reviewes__author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;
  background-color: #f38181;
}

/*Our Team*/

.Team_container {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}

.Team__item {
 width: 380px;
 height: 470px;
 position: relative;
 background-color: #95e1d3;
}

.at1 {
  background-color:#d2d22dbe;
}

.at2 {
  background-color:#333;
}

.Team__item:hover .about__img img {
  opacity: .1;
}

.Team__item:hover .about__img {
  transform: translate3d(-10px, -10px, 0);
}

.Team__item:hover .photo_container {
  opacity: 1;
}

.about__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.about__img img {
  display: block;
  transition: opacity .1s linear;
}

.photo_container {
  width: 250px;
  height: 60px;
  background-color: #fce38a;
  position: absolute;
  text-align: center;
  top: 41%;
  left: 17%;
  display: flex;
  opacity: 0;
}

.photo__items {
  flex: 1 1 0;
  border-right: 1px solid #f38181;
}

.photo__items:last-child {
  border-right: none;
}

.ph-margin {
  position: relative;
  top: 15px; }

.ph-margin1 {
  position: relative;
  top: 16px;
}

.photo__items:hover {
  background-color: #f38181;
}

.alt-white:hover {
  background-color: #fff;
}

.item__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
}

.item__description {
  font-family: 'Roboto', cursive;
  color: #c6c6c6;
  margin-top: 5px;
  font-style: italic;
  text-align: center;
}

/*Logos*/

.logos {

  text-align: center;
}

/* Works */

.works {
  display: flex;
}

.works__col {
  flex: 1 1 0;
}

.works__item {
  position: relative;

  background: linear-gradient(to bottom, #f38181,
  #fce38a);
}

.works__item:hover .works__image {
  opacity: .1;
}

.works__item:hover .works__info {
  opacity: 1;
}

.works__image {
  max-width: 100%;
  height: auto;
  display: block;
  transition: opacity .2s linear;
}

.works__info {
  width: 100%;
  padding: 0 15px;
  position: absolute;
  top: 50%;

  opacity: 0;

  transition: opacity .2s linear;

  left:0;
  text-align: center;
  color:#fff;
  z-index: 1;
  transform: translate3d(0, -50%, 0);
}

.works__info img{
  margin-bottom: 5px;
}

.works__title {
  margin-bottom: 5px;

  text-transform: uppercase;
  font-size: 14px;
}

.works__text {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

/* What people say */

.Happy_Background {
  background-image: url('Rectangle22.png');
  background-position: center center;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.coments {
  display: flex;
  flex-wrap: wrap;
}

.coments_item {
  width: 50%;
  padding: 0 45px 0 175px;
  position: relative;
  margin-bottom: 80px;
}

.pohto__clients {
  width: 110px;
  height: 110px;
  z-index: 0;
  top: 0;
  left: 40px;

  border-radius: 50%;

  position: absolute;
}

.coments__name {
  font-size: 14px;
  color:#333;
  text-transform:uppercase;
  font-weight:bold;
  margin-bottom: 5px;
}

.coments__prof {
  font-size: 15px;
  color: #333;
  font-style: italic;
}

.coments__prof:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 20px 20px;
  margin-left: 0;
  background-color: #f38181;
}

.coments__text {
  color: #999;
  font-size: 15px;
}


/* Blog */

.blog {
  display: flex;
  justify-content: space-between;
}

.blog__item {
  width: 31%;
}

.blog__header {
  position: relative;
  margin-bottom: 15px;
}

.blog__photo {
  display: block;
  width: 100%;
  height: auto;
}

.blog__date {
  padding: 10px 15px;
  text-align: center;
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  background-color: #95e1d3;
  position: absolute;
  bottom: 10px;
  left: -10px;
  z-index: 1;
}

.number {
  font-style: normal;
  line-height: 1;
  font-size: 30px;
  font-weight: 700;
}

.blog__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog__title a {
  color: inherit;
  text-decoration: none;
}

.blog__title a:hover {
  text-decoration: underline;
}

.blog__text {
  color: #999;
  font-size: 15px;
}

.blog__footer {
  color: #999;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.blog-stat__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}


/* Map */

.map {
  text-align: center;
}

.map__title {
  font-size: 24px;
  font-weight: 700;
  color: #f38181;
}

.map__title:after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  margin: 20px auto 0;

  background-color: #f38181;
}

.map__title a {
  text-decoration: none;
  color: inherit;
}

.map__title a:hover {
  text-decoration: underline;
}


/* Footer */

.footer {
  padding-top: 65px;
  background-color: #f8f8f8;
}

.footer__inner {
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
}

.footer__col--first {
  width: 40%;
}

.footer__col--second {
  width: 29%;
}

.footer__col--third {
  width: 22%;
}

.footer__logo {
  font-size: 46px;
  color: #ccc;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer__text {
  font-size: 15px;
  color: #999;
  margin-bottom: 30px;
}

.footer__social {
  margin-bottom: 25px;
}

.footer__social-header {
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

.footer__social-header b {
  font-size: 20px;
}

.footer__social-content {
  color: #c3c3c3;
  font-style: italic;
}

.footer__social-content a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.footer__title {
  margin: 30px 0;

  font-size: 14px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}


/* Blogs */

.blogs__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.blogs__img {
  width: 120px;
  height: 80px;
}

.blogs__title {
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: 12px;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.blogs__content {
  padding-left: 20px;
}


.blogs__title:hover {
  text-decoration: underline;
}

.blogs__subtitle {
  font-size: 13px;
  color:#ccc;
  font-family: "Roboto";
  font-style: italic;
}

/* Instagram */

.instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instagram__item {
  width: 31.33%;
  border-bottom: 3px solid #fff;
}

.instagram__item img {
  display: block;
}

.inatagram__footer {
  display: block;
  margin-top: 20px;
  font-size: 13px;
  color:#333;
  text-decoration: none;
  font-family: "Roboto";
  font-style: italic;
}

.inatagram__footer:hover {
  text-decoration: underline;
}

/* Subscribe */

.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
}

.subscribe__input {
  width: 60%;
  height: 40px;
  padding: 12px;

  background: #fff;
  border: 1px solid #e7e7e7;

  font-size: 15px;
  color: #333;
  font-style: italic;
  font-weight: 300;
  line-height: 1.1;
  font-family: 'Montserrat', sans-serif;
}

.subscribe__input::placeholder {
  color: #999;
}

.subscribe__btn {
  width: 40%;
  height: 40px;
  text-transform: uppercase;

  padding: 12px 30px;
  font-size: 14px;
  line-height: 1.1;
  background-color: #95e1d3;

  border: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;

  font-weight: 700;
  cursor: pointer;

  transition: bacground .2s linear;
}

.subscribe__btn:hover {
  background-color: #66c7b6;
}

.subscribe__input:focus {
  outline: 0;
  border-color:#95e1d3;
}

/* Copyright */

.copyright {
  text-align: center;
  color: #333;
  font-size: 14px;

  padding-bottom: 20px;
}

.copyright span {
  color: #f5acac;
}